* {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

:root {
    --primary-color: #7c3aed;
    --secondary-color: #fff;
}

nav{
    padding: 1rem 1rem 1rem 0;
    background-color: var(--primary-color);
    width: 100%;
    text-align: right;
}

/* Anchor tag */
nav > a {
    text-decoration: none;
    padding-left: 1rem;
    font-size: large;
    color: var(--secondary-color);
}

.container {
    max-width: 640px;
}

h1{
    padding: 1rem 0;
}

label {
    display: block;
    padding: 1rem 0;
    font-size: x-large;
    color: var(--primary-color);
}

input {
    border-radius: 0.3rem;
    border: 2px solid var(--primary-color);
    height: 4vh;
    width: 40%;
   outline: var(--secondary-color);
   display: block;
   margin: 1rem auto;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.4rem;
    font-size: large;
}

footer {
    text-align: center;
    margin-top: 5rem;
}

p{
    font-size: x-large;
    margin: 0.5rem 0;
}

li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

img {
    width: 2rem;
}

